/* Skills Section */
.skills-section {
  background-color: var(--primary-light); /* Light beige background */
  padding: 5rem 0;
  animation: fadeIn 1s ease-out;
}

.skills-container {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 1rem;
}

.skills-title {
  font-size: 3rem; /* Large heading */
  font-weight: bold;
  margin-bottom: 1rem;
  overflow: hidden;
  border-right: 0.15em solid var(--text-dark); /* Typing cursor effect */
  white-space: nowrap;
  letter-spacing: 0.15em;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  animation: typing 4s steps(30, end), blink-caret 0.75s step-end infinite;
}

.skills-subtitle {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 3rem;
  color: var(--primary-dark);
  animation: fadeIn 1.5s ease-out;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Four columns */
  gap: 30px; /* Increased spacing between items */
}

.skill-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF  ; /* Slightly darker than the background */
  border-radius: 15px; /* Rounded corners */
  padding: 20px; /* Increased padding for larger boxes */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Slightly stronger shadow */
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.skill-box:hover {
  transform: scale(1.1); /* Larger zoom effect on hover */
}

.skill-icon {
  width: 120px; /* Larger icon width */
  height: 120px; /* Larger icon height */
}

/* Adjust for responsiveness */
@media screen and (max-width: 640px) {
  .skills-grid {
    grid-template-columns: repeat(2, 1fr); /* Two columns for smaller screens */
    gap: 20px;
  }

  .skill-icon {
    width: 90px; /* Slightly smaller icons for smaller screens */
    height: 90px;
  }
}


@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--primary-dark);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


